<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="About Me" />
    <meta name="author" content="Zhirrr" />
    <meta content='#007FFF' name='theme-color'/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <base target="_blank"/>
    <title>About Me - LordArdy</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Poppins');
      *{
        font-family: 'Poppins', sans-serif;
      }
    </style>
  </head>
  <body>
      <div class="container-fluid">
    <div class="card m-3 text-center shadow">
      <h2 class="card-header shadow-sm bg-primary text-white">About Me</h2>
      <div class="card-body">
    <div class="text-center">
  <img class="rounded-circle shadow mb-3" src="https://avatars.githubusercontent.com/u/86863270?v=4" alt="Y" height="150px" width="150px">
  <h1>LordArdy</h1>
  </div>
  </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>